.places__margin-place {
  margin: auto 148px 80px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__margin-place {
    margin: auto 24px 80px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1278px) {
  .places__margin-place {
    margin: auto 48px 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__margin-place {
    margin: 50px auto 80px;
  }
}

@media screen and (min-width: 1279px) {
  .places__margin-place {
    margin: auto 48px 84px;}}