.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 18px;
  justify-items: start;
  align-items: end;
  font-size: 16px;
  line-height: 18px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 750px) {
  .footer__menu {
    grid-template-columns: min-content;
    grid-template-rows: repeat(5, min-content);
    font-size: 24px;
    line-height: 24px;
  }
}
