.places {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1084px;
  margin-bottom: 16px;
}




@media screen and (min-width: 767px) {
  .places {
    margin: auto 3% 17px; 
  }
}
@media screen and (min-width: 1023px) {
  .places {
    
    margin: auto 4.9%;
  }
}
@media screen and (min-width: 1280px) {
  .places {
    margin-bottom: 92px;
    margin: auto;
  }
}